
@keyframes moveInLeft {
  0% {
    opacity: 0;
    @include translateX(-10rem);
  }

  80% {
    @include translateX(1rem);
  }

  100% {
    @include translate;
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    @include translateX(10rem);
  }

  80% {
    @include translateX(-1rem);
  }

  100% {
    opacity: 1;
    @include translate;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    @include translateY(5rem);
  }

  100% {
    opacity: 1;
    @include translate;
  }
}
